# Dependencies
node_modules
.pnpm-store

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Build Artifacts
**/dist
**/coverage
**/.turbo

# Database & Wrangler (Local State)
*.db
.wrangler/
**/d1/
.sqlite
*.sqlite3

# ABS Specific
abs_core.db
packages/core/.wrangler
log/
